body {
    font-family: Arial, sans-serif;
    background-color: #ff0000;
    margin: 0;
    padding: 0;
    background: url('../media/Ocean.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    padding-bottom: 10rem;
}

.extra,
.cost,
.shipping {
    color: white;
}

.breadcrumb {
    font-size: 14px;
    color: #888;
    margin-bottom: 20px;
}

.breadcrumb a {
    color: #888;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.product-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.product-price {
    font-size: 28px;
    color: #00c3ff;
    margin-bottom: 20px;
}

.product-info {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #fff;
}

.product-images {
    flex: 1;
    text-align: center;
    min-width: 300px;
}

.product-images img {
    width: 80%;
}

.thumbnails img {
    margin: 5px;
}

.product-details {
    flex: 1;
    padding-left: 20px;
    min-width: 300px;
}

.product-details .status {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.product-details .return-policy,
.product-details .protection,
.product-details .shipping {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-details .return-policy i,
.product-details .protection i,
.product-details .shipping i {
    color: #00d9ff;
    margin-right: 10px;
}

.product-details .protection i {
    color: #ff5722;
}

.product-details .shipping i {
    color: #00d9ff;
}

.product-details .protection a {
    color: #007bff;
    text-decoration: none;
}

.product-details .protection a:hover {
    text-decoration: underline;
}

.product-details .quantity {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product-details .quantity input {
    width: 40px;
    text-align: center;
    margin: 0 10px;
}

.product-details .buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.product-details .buttons button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 5px 5px 5px 0;
}

.product-details .buttons .buy-now {
    background-color: #002fff;
    color: #fff;
}

.product-details .favorite {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.product-details .favorite i {
    color: #0385ff;
    margin-right: 5px;
}

.product-details .favorite span {
    font-size: 14px;
}

.product-details .share {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.product-details .share i {
    color: #888;
    margin-right: 10px;
}

.product-details .share a {
    color: #888;
    text-decoration: none;
    margin-right: 10px;
}

.product-details .share a:hover {
    text-decoration: underline;
}

.product-details .guarantee {
    margin-top: 20px;
    font-size: 14px;
    color: #888;
}

.txt {
    animation: rgb 3s infinite;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: 300%;
    font-weight: bold;
}

.add-to-card {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #0099ff;
    color: #fff;
}

.paket-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-bottom: 10px;
    border: 3px solid #15dcff;
}

.paket-btn:hover {
    background-color: #15dcff;
    transform: scale(1.05);
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1000;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.popup-header h2 {
    margin: 0;
    font-size: 18px;
    color: white;
}

.popup-header .close {
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.popup-content {
    font-size: 16px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.desc {
    display: block;
    margin-top: 20px;
    color: #888;
}

#nogar {
    color: red;
}

.desc-top {
    margin-top: 50px;
    font-size: 120%;
    color: #888;
    padding-bottom: 1rem;
    font-weight: bolder;
}

.desc2-top {
    margin-top: 100px;
    font-size: 120%;
    display: flex;
    color: #888;
    padding-bottom: 3rem;
}

.desc-2 {
    margin-top: 5px;
    color: #888;
    padding-bottom: 1.5rem;
}

.ddos {
    color: #888;
    text-decoration: #ff0000;
}

.ddos:hover {
    font-weight: bold;
    color: black;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .product-details {
        padding-left: 0;
    }

    body {
        background: url('../media/bgmobile.jpg');
    }

    .product-images img {
        width: 100%;
    }
}